* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.text-white {
    color: #fff !important;
}

#main {
    
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    --height: 46px;
    background-color: #000;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav > li > a {
    text-transform: uppercase;
    color: #fff;
}

#nav li a {
    display: block;
    text-decoration: none;
    line-height: var(--height);
    padding: 0 21px;
    font-size: 15px;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover a, 
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fff;  
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3); 
}

#nav .subnav li {
    display: block;
}

#nav .subnav a {
    color: #000;
    font-size: 15px;
    line-height: 38px;
}

.angle-down-icon {
    font-size: 13px;
}

#header .search:hover {
    background-color: #f44336;
}

#header .search {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    line-height: var(--height);
    padding: 0 23px;
}

#slider {
    margin-top: 46px;
    background: url('/w3_band/assets/img/img_1.jpg') 
    no-repeat top center / cover;
    padding-top: 50%;
    position: relative;
}

#slider .text-content {
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 32px 16px;
    position: absolute;
    bottom: 0;
}

#slider .text-content .text-heading {
    font-weight: 500;
    margin: 10px 0;
}

#slider .text-content .text-description {
    margin: 15px 0;
}

#content {

    height: 1000px;
}

/* About content */
#content .content-section {
    width: 800px;
    padding: 64px 16px;
    margin-right: auto;
    margin-left: auto;
}

#content .name-heading {
    margin: 10px 0;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    height: 45px;
    box-sizing: border-box;
    letter-spacing: 4px;
    font-family: 'Segoe UI', Arial, sans-serif;
}

#content .slogan {
    margin: 15px 0;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
    text-align: center;
    font-family: sans-serif;
}

#content .text {
    font-size: 15px;
    margin: 15px 0;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    padding: 32px 0;
}

#content .member {
    text-align: center;
    display: inline-block;
    width: 253px;
    height: 222.09px;
}

#content .member .name {
    margin: 15px 0;
    font-size: 15px;
}

#content .member .avatar {
    height: 154.6px;
    margin: 0 0 16px;
    border-radius: 4px;
}

/* Tour content */
.tour-content {
    background-color: #000;
}

.name-heading2 {
    color: #ffffff;
}

.tickets-list {
    list-style: none;
    background-color: #fff;
    margin-top: 40px;
}

.tickets-list li {
    color: #757575;
    height: 39px;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    padding: 8px 16px;
    box-sizing: border-box;
    line-height: 24px;
}


.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    margin-right: 16px;
}


/* Footer content */
#footer {

}
